{% extends "Dashboard/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2><b>Clients</b> <b>Details</b></h2></div>
              </div>
          </div>
          <div class="row">
            <form method="POST" action="" enctype="multipart/form-data">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete all</button>
          </form>
          </div>
          <table class="table table-striped table-hover table-bordered">
              <thead>
                  <tr>
                      <th scope="col">Client fname</th>
                      <th scope="col">Client lName</th>
                      <th scope="col"> Action</th>
                  </tr>
              </thead>
              <tbody>
                {% for client in  company_clients  %}
                <tr>
                  <th>{{ client.first_name}}</th>
                  <td scope="row">{{ client.middle_name }}</td>
                  <td>
                    <button class="btn btn-success"><a class="lin" href="">view</a></button>
                    <button class="btn btn-primary"><a class="lin" href="">Update</a></button>
                    <button action="" class="btn btn-danger">Delete</button>
                  </td>
                  <style>
                    .lin{
                      color : black;

                    }
                  </style>
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
</div>

{% endblock content %}